.App {
  text-align: center;
  background-color: rgb(241, 240, 240);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cardcolumn{
  column-count: 1;
}

.card{
  margin: 14px 14px 0 0;
  box-shadow: 0 0 14px rgba(0,0,0,0.2);
  border-radius: 8px;
}

.card-img{
  height: 230px !important;
  border-radius: 8px;
}

.card-title{
  font-size: 18px;
}

.blockquote{
  font-size: 12px;
}

.blockquote-footer{
  font-size: 10px;
}

.card-button{
  font-size: 12px;
  margin-bottom: 8px;
}